<%- include('partials/header') -%>

<div class="container mt-4 align-items-center justify-content-center">

    <div class="row justify-content-md-center activities">
        <h2>Seleccionar actividad a eliminar:</h2>


        <script>
    function alerta(){
    Swal.fire({
  title: 'Desea elimar está actividad?',
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Aceptar'
}).then((result) => {
  if (result.isConfirmed) {
    Swal.fire(
      'Eleminado!',
      'Se a eliminado la actividad correctamente',
      'success'
    )
  }
}) }
        </script>
    

        <table class="table">
            <caption class="text-center"></caption>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Descripción Actividad</th>
                    <th>Aunares</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i< data.length;i++){ %>
                <tr>
                    <td><%=  i + 1 %></td>
                    <td><%= data[i].desc_actividad %></td>
                    <td><%= data[i].puntos_actividad%></td>

                    <td><a href="/borrar/<%= data[i].id_actividad %>" class="btn btn-danger">Borrar</a>
                        <button class="btn btn-danger" onclick="alerta()">Esto es una prueba</button>
                    </td>
                </tr>

                <% } %>
            </tbody>

    </div>
</div>

<%- include('partials/footer') -%>